<!-- 
File Name : footer.ejs
Author Name : Michael ADAIKALARAJ
Student Number : 300958145
Date : Feb 12, 2019 -->


    <!-- 3rd party js libraries -->
   
  <script src="jquery/dist/jquery.min.js"></script>
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="Scripts/app.js"></script>

</body>
</html>