<!-- 
File Name : header.ejs
Author Name : Michael ADAIKALARAJ
Student Number : 300958145
Date : Feb 12, 2019 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comp308 - W2019 - Lesson1A</title>

<!-- Custom Fonts -->
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

    <!-- Css libraries -->
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="Content/app.css">
  <link rel="stylesheet" href="Content/util.css">

</head>

<body>
    <nav class="navbar  navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><img src="Assets/Images/logo_white.png" class="logo-navbar"/></a>
        <button  onclick="openNav()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <%= title %>
            <span  class="navbar-toggler-icon"></span>
        </button>
      
        <div id="mySidenav" class="sidenav">
            <ul class="navbar-nav ml-auto">
              <li>
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/"> Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about"> About </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/projects">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/services">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Me</a>
              </li>
            </ul>
          </div>
      </nav>
