<!-- 
File Name : about.ejs
Author Name : Michael ADAIKALARAJ
Student Number : 300958145
Date : Feb 12, 2019 -->

<% include ./partials/header.ejs %>
<div class="main-container">
  <h1 class="text-center m-t-20 m-b-20"></h1>

  <!-- about me section -->
  <section class="aboutme-section">
    <div class="aboutme row justify-content-center">
      <div class="col-lg-8 text-center">
        <img class="profile" src="/Assets/Images/myself.jpeg" />
        <br />
        <h1 class="m-t-20">Michael Jaison Adaikalaraj</h1>
        <p>Software Developer</p>
        <p>
          Software developer with 3 years experience in android applicaton development. After completing my degree in computer science,
          I joined <a href="www.brandmoustache.com">Brand Moustache</a> as a android developer where I learned more about programming with the 
          help of my team. TO shape up my knowledge, I joined Centenial College for a Advanced Diploma on 2017. 
        </p>
      </div>
    </div>

    <div class="externalLinks">
      <div class="row justify-content-center">
        <a
          target="_blank"
          class="btn btn-primary myButton m-l-10 m-r-10"
          href="https://www.linkedin.com/in/michaeladaikalaraj/"
          ><i class="fa fa-linkedin"></i> LinkedIn</a
        >
        <a
          target="_blank"
          class="btn btn-primary myButton m-l-10 m-r-10"
          href="https://github.com/michaelCodeHub"
          ><i class="fa fa-github" aria-hidden="true"></i> GitHub</a
        >
        <a
          target="_blank"
          class="btn btn-primary myButton m-l-10 m-r-10"
          href="/Assets/Resume2019.pdf"
          ><i class="fa fa-file" aria-hidden="true"></i> Resume
        </a>
      </div>
    </div>
  </section>

  <!-- My History Section -->
  <section class="history">
    <h2 class="text-center">MY HISTORY</h2>
    <div class="underLine"></div>
    <ul class="timeline">
      <!-- Item 1 -->
      <li>
        <div class="direction-r">
          <div class="flag-wrapper">
            <span class="hexa"></span>
            <span class="flag">High School.</span>
            <span class="time-wrapper"
              ><span class="time">2008 - 2010</span></span
            >
          </div>
          <!-- <div class="desc">Lorem ipsum Nisi labore aute do aute culpa magna nulla voluptate exercitation deserunt proident.</div> -->
        </div>
      </li>

      <!-- Item 2 -->
      <li>
        <div class="direction-l">
          <div class="flag-wrapper">
            <span class="hexa"></span>
            <span class="flag">Bachelore Degree.</span>
            <span class="time-wrapper"
              ><span class="time">2010 - 2014</span></span
            >
          </div>
          <!-- <div class="desc">Lorem ipsum In ut sit in dolor nisi ex magna eu anim anim tempor dolore aliquip enim cupidatat laborum dolore.</div> -->
        </div>
      </li>

      <!-- Item 3 -->
      <li>
        <div class="direction-r">
          <div class="flag-wrapper">
            <span class="hexa"></span>
            <span class="flag">Android Developer.</span>
            <span class="time-wrapper"
              ><span class="time">2014 - 2017</span></span
            >
          </div>
          <!-- <div class="desc">Lorem ipsum Minim labore Ut cupidatat quis qui deserunt proident fugiat pariatur cillum cupidatat reprehenderit sit id dolor consectetur ut.</div> -->
        </div>
      </li>

      <!-- Item 4 -->
      <li>
        <div class="direction-l">
          <div class="flag-wrapper">
            <span class="hexa"></span>
            <span class="flag">Advanced Diplomo.</span>
            <span class="time-wrapper"
              ><span class="time">2017 - Present</span></span
            >
          </div>
          <!-- <div class="desc">Lorem ipsum Minim labore Ut cupidatat quis qui deserunt proident fugiat pariatur cillum cupidatat reprehenderit sit id dolor consectetur ut.</div> -->
        </div>
      </li>

      <!-- Item 5 -->
      <li>
        <div class="direction-r">
          <div class="flag-wrapper">
            <span class="hexa"></span>
            <span class="flag">Cashier at KFC.</span>
            <span class="time-wrapper"
              ><span class="time">2017 - Present</span></span
            >
          </div>
          <!-- <div class="desc">Lorem ipsum Minim labore Ut cupidatat quis qui deserunt proident fugiat pariatur cillum cupidatat reprehenderit sit id dolor consectetur ut.</div> -->
        </div>
      </li>

      <!-- Item 6 -->
      <li>
        <div class="direction-l">
          <div class="flag-wrapper">
            <span class="hexa"></span>
            <span class="flag">Peer Tutor.</span>
            <span class="time-wrapper"
              ><span class="time">2018 - Present</span></span
            >
          </div>
          <!-- <div class="desc">Lorem ipsum Minim labore Ut cupidatat quis qui deserunt proident fugiat pariatur cillum cupidatat reprehenderit sit id dolor consectetur ut.</div> -->
        </div>
      </li>

      <!-- Item 7 -->
      <li>
        <div class="direction-r">
          <div class="flag-wrapper">
            <span class="hexa"></span>
            <span class="flag">Student Worker.</span>
            <span class="time-wrapper"><span class="time">2018</span></span>
          </div>
          <!-- <div class="desc">Lorem ipsum Minim labore Ut cupidatat quis qui deserunt proident fugiat pariatur cillum cupidatat reprehenderit sit id dolor consectetur ut.</div> -->
        </div>
      </li>
    </ul>
  </section>
</div>
<% include ./partials/footer.ejs %>
