<!-- 
File Name : index.ejs
Author Name : Michael ADAIKALARAJ
Student Number : 300958145
Date : Feb 12, 2019 -->


<% include ./partials/header.ejs %>   

<div class="container main-container" style="text-align:center">
  <div class="home-content">
    <br/>
    <img src="/Assets/Images/logo_blue.png"/>
    <br/>
    <div style="width: auto">
        <h1>MICHAEL ADAIKALARAJ</h1>
        <hr>
    </div>
      <p>'Develop great applications to make people to get crazy and lazy.'</p>
      <div class="marginTop">
        <a class="btn btn-primary myButton" href="about">ABOUT ME</a>
        <a class="btn btn-primary myButton" href="contact">CONTACT ME</a>
      </div>
  </div>
</div>

<% include ./partials/footer.ejs %>