<!-- 
File Name : projects.ejs
Author Name : Michael ADAIKALARAJ
Student Number : 300958145
Date : Feb 12, 2019 -->

<% include ./partials/header.ejs %>    
<div class="main-container">
    <section class="projects" style="text-align:center">
        <div class="row">
            <div class="col-lg-6">
                <div class="tile tileSmall m-t-20 m-b-20">
                    <div class="row p-t-20 p-l-20 p-r-20 p-b-20">
                            <img src="/Assets/Images/wca.png" class="img-responsive project-logo"/>
                            <p class="col-lg-12 m-t-20">The Canadian Talent Managment firm with international presence, providing unique talent acquisition soultions for employers, inspiring career consulting for job seekers. </p>
                            <p class="col-lg-12 text-left">Role : UI Developer <br> Website : <a href="http://wehire-dev.us-east-1.elasticbeanstalk.com/" target="_blank" class="text-center">World Capital Advisory</a></p>
                    </div>
                </div>
                <div class="tile tileSmall m-t-20 m-b-20 ">
                    <div class="row p-t-20 p-l-20 p-r-20 p-b-20">
                            <img src="/Assets/Images/saguni.png" class="img-responsive project-logo"/>
                            <p class="col-lg-12 m-t-20">An entertainment company who provides best customer experience in gaming industry with high quality games. They encourage e-sports in India by providing best amenities and customer experience </p>
                            <p class="col-lg-12 text-left">Role : Developer <br> Website : <a href="https://saguni.in/" target="_blank" class="text-center">www.saguni.in</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tile tileBig m-t-20 m-b-20">
                    <div class="row p-t-20 p-l-20 p-r-20 p-b-20 justify-content-center">
                        <img src="/Assets/Images/firstclap.png" class="img-responsive project-logo m-t-30 m-l-20 m-r-20"/>
                        <p class="col-lg-12 m-t-20">First Clap is an initiative of Moviebuff, the world’s largest database of movies releasing in India. One of the goals of Moviebuff at the time of its conception was to give something back to the industry, while enabling a direct connection for the aspiring filmmakers with the industry and audiences. Through First Clap, a short film contest for aspiring filmmakers to showcase their creations, Moviebuff and its partners in this venture hope to identify and nurture talent, while giving them the ultimate platform to exhibit their craft and measure the pulse of audiences in cinemas.</p>
                        <p class="col-lg-12 m-t-20">In association with Little Shows and 2D Entertainment, Moviebuff presents First Clap - India's first theatrically showcased talent hunt for ASPIRING FILMMAKERS!</p>
                        <p class="col-lg-12 text-left">Role : Android Developer <br> Website : <a href="https://play.google.com/store/apps/details?id=moviebuff.com.firstclap" target="_blank" class="text-center">FirstClap - Playstore</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="tile tileSmall m-t-20 m-b-20">
                    <div class="row p-t-20 p-l-20 p-r-20 p-b-20">
                            <img src="/Assets/Images/asb.png" class="img-responsive project-logo"/>
                            <p class="col-lg-12 m-t-20">African Safari Bookings (ASB) is an online booking platform for travel in Africa. Our website hosts hundreds of respected tour operators across Africa.</p>
                            <p class="col-lg-12 text-left">Role : UI Developer <br> Website : <a href="https://www.africansafaribooking.com/" target="_blank" class="text-center">African Safari Booking</a></p>
                    </div>
                </div>
                <div class="tile tileSmall m-t-20 m-b-20 ">
                    <div class="row p-t-20 p-l-20 p-r-20 p-b-20">
                            <img src="/Assets/Images/cisff.jpg" class="img-responsive project-logo"/>
                            <p class="col-lg-12 m-t-20">CISFF is the unique event in India which showcases talents to short film making. It is the only annual  Short Film Festival happening in India with awards in all categories.</p>
                            <p class="col-lg-12 text-left">Role : Developer <br> Play Store : <a href="https://play.google.com/store/apps/details?id=com.littleshows.cisff" target="_blank" class="text-center">CISFF</a>
                            <br> Website : <a href="https://www.cisff.in" target="_blank" class="text-center">www.cisff.in</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tile tileBig m-t-20 m-b-20">
                    <div class="row p-t-20 p-l-20 p-r-20 p-b-20 justify-content-center">
                        <img src="/Assets/Images/bm.png" class="img-responsive project-logo m-t-30 m-l-20 m-r-20"/>
                        <p class="col-lg-12 m-t-20">We are just a bunch of determined geeks with out-of-the-box ideas. Creativity is our drug and we certainly cannot live without it. Our proficient and adept team strives to ensure that our branding will be remember forever and ever. We believe that a brand is an unifying, inspiring and everlasting experience. We at Brandmoustache nurture and develop a good idea into a solid brand while executing all this without comprimising on quality.</p>
                        <p class="col-lg-12 m-t-20">In association with Little Shows and 2D Entertainment, Moviebuff presents First Clap - India's first theatrically showcased talent hunt for ASPIRING FILMMAKERS!</p>
                        <p class="col-lg-12 text-left">Role : Android Developer <br> Website : <a href="www.brandmoustache.com" target="_blank" class="text-center">Brand Moustache</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<% include ./partials/footer.ejs %>