<!-- 
File Name : services.ejs
Author Name : Michael ADAIKALARAJ
Student Number : 300958145
Date : Feb 12, 2019 -->

<% include ./partials/header.ejs %>  

<div class="main-container">

 <!-- Services Section -->
    <section class="services">
        <div class="row">
            <div class="col-lg-4 text-center">
                <img class="img-responsive service-logo" src="/Assets/Images/Services/android.png"/>
                <h5 class="m-t-10">Android Application Development</h5>
                <p>Using Java in Android Studio</p>
            </div>
            <div class="col-lg-4 text-center">
                <img class="img-responsive service-logo" src="/Assets/Images/Services/ios.png"/>
                <h5 class="m-t-10">IOS Application Development</h5>
                <p>Using swift in XCode</p>
            </div>
            <div class="col-lg-4 text-center">
                <img class="img-responsive service-logo" src="/Assets/Images/Services/net.png"/>
                <h5 class="m-t-10">.NET Development</h5>
                <p>Using C# in Visual Studio</p>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-4 text-center">
                <img class="img-responsive service-logo" src="/Assets/Images/Services/db.png"/>
                <h5 class="m-t-10">Database Mangement</h5>
                <p>MSSQL, MySQL, MongoDB</p>
            </div>
            <div class="col-lg-4 text-center">
                <img class="img-responsive service-logo" src="/Assets/Images/Services/web.jpg"/>
                <h5 class="m-t-10">Web Development</h5>
                <p>HTML, CSS, JS</p>
            </div>
            <div class="col-lg-4 text-center">
                <img class="img-responsive service-logo" src="/Assets/Images/Services/angular.png"/>
                <h5 class="m-t-10">Angular Development</h5>
                <p>Node.js, Express, Passport</p>
            </div>
        </div>
    </section>

</div>

<% include ./partials/footer.ejs %>    
